@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: rgb(43, 43, 43);
  }
  div,
  tr,
  th,
  table,
  tbody {
    color: #fff !important;
    border-color: #fff !important;
  }
  a {
    color: #a3d1ff;
  }
  .ui.celled.table tr td,
  .ui.celled.table tr th {
    border-color: #fff !important;
  }
}

.show-roster {
  display: table-row-group !important;
}
.show-header {
  display: table-header-group !important;
}

.hide {
  display: none;
}

[id^="roster"] {
  /* gets all elements where id starting with info */
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  margin-left: 60px !important;
  margin-right: 60px !important;

  .header {
    grid-row: 1;
    margin: 40px 0;
    justify-self: center;
    h1 {
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }
  }

  .activity {
    display: grid;
    grid-row: 2;
    justify-items: center;
    align-self: center;
    margin: 0 auto;
    margin-bottom: 20px;
    button {
      margin-bottom: 10px;
    }
    .recent {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 40px;
      font-size: 14px;
      padding: 10px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
  }

  .teams {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 40px;

    .teams-list {
      grid-row: 1 / span 1;
      min-width: 745px;
    }

    .roster {
      grid-row: 2 / span 1;
      align-self: center;
    }
  }
}

@media (min-width: 601px) and (max-width: 1450px) {
  .container {
    margin-left: 40px !important;
    margin-right: 40px !important;

    .teams {
      grid-row: 3;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-items: center;

      .teams-list {
        grid-column: 1;
        grid-row: 1 / span 1;
        min-width: 745px;
      }

      .roster {
        grid-column: 1;
        grid-row: 2 / span 2;
        align-self: center;
        min-width: 700px;
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    margin: 0 !important;

    .header {
      h1 {
        font-size: 20px;
      }
    }

    .teams {
      grid-row: 3;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-items: center;
      gap: 20px;
      font-size: 10px;

      .teams-list {
        grid-column: 1;
        grid-row: 1 / span 1;
        min-width: 0;
        .content {
          padding-left: 5px;
          font-size: 12px;
          .sub.header.team {
            display: none;
          }
        }
      }

      .roster {
        grid-column: 1;
        grid-row: 2 / span 2;
        align-self: center;
        padding: 10px;
      }
    }

    .activity {
      .recent {
        display: grid;
        grid-template-columns: auto auto;
        font-size: 10px;
        padding: 10px;
      }
    }
  }
}
